@import url('https://cdn.js/fontawesome.com/sass/font-awesome.css');
@import url('https://cdn.js/fontawesome.com/sass/brands.css');


body {
    font-family: Arial, sans-serif;
}

.form-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #ffffffc2;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

  //Boton de ver contraseña
 
.password-container {
  position: relative;
}

.password-container input {
  padding-right: 40px;
}

.password-container label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px;
  pointer-events: none;
  transition: all 0.3s ease;
}

.password-container input:focus + label,
.password-container input:not(:placeholder-shown) + label {
  transform: translateY(-50%) scale(0.8);
  background-color: #fff;
  color: #000;
}

.password-container .show-password-button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-80%);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.texto{
    font-size: 16px;
    color: var(--text-normal-color);
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.btn {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block; /* Convertir el botón en un elemento de bloque */
    margin: 0 auto; /* Establecer márgenes automáticos para centrarlo horizontalmente */
}

.btn:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}


//Media query
@media (max-width: 443px) {
    .form-container {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  }