<br>
<div class="form-container">
  <form lass="form" [formGroup]="forms" (ngSubmit)="passwordSalve()">
    <label for="password">Contraseña:</label>
    <div class="password-container">
      <input
        type="password"
        id="password"
        name="password"
        formControlName="password1"
        [class.is-invalid]="password1NoValido"
        appTogglePassword
        required
      />
      <small *ngIf="password1NoValido"  class="mensajeError">
        *La contraseña debe contener minimo 8 caracteres</small
    >

      <button
        type="button"
        class="show-password-button"
        (click)="onTogglePassword('password')"
      >
        <i class="fa fa-eye-slash"></i>
      </button>
    </div>
    <label for="confirm-password">Confirmar contraseña:</label>
    <div class="password-container">
      <input
        type="password"
        id="confirm-password"
        name="confirm-password"
        formControlName="password2"
        [class.is-invalid]="password2NoValido"
        appTogglePassword
        required
      />
      <small *ngIf="password2NoValido"  class="mensajeError">
        *Ambas contraseñas debe coincidir</small>
      <button
        type="button"
        class="show-password-button"
        (click)="onTogglePassword('confirm-password')"
      >
        <i class="fa fa-eye-slash"></i>
      </button>
    </div>
    <div class="texto">
      <p>Tu contraseña debe contener:</p>
      <ul>
        <li>Minimo de 8 caracteres</li>
        <li>1 Mayuscula</li>
        <li>1 Minuscula</li>
        <li>1 Numero</li>
        <li>1 Caracter especial</li>
        <li>Ambas contraseñas deben coincidir</li>
      </ul>
    </div>
    <button class="btn" type="submit">Cambiar contraseña</button>
  </form>
</div>
