body {
  background-color: var(--secondary-color) /* Color de fondo */
}

.form-control:focus {
  border-color: #ced4da; /* Cambia el color del borde al hacer clic en el campo */
  //box-shadow: none; /* Elimina la sombra al hacer clic en el campo */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
}

.container {
  width: 70%;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1); /* Borde con una pequeña sombra */
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo transparente */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
}

.form-group {
  display: flex;
  margin-bottom: 15px; /* Separación entre los campos */
}

.form-control {
  flex: 1; /* Los campos de entrada ocupan todo el espacio disponible */
  margin-right: 10px; /* Separación entre el campo y el botón */
}

h1{
  font-size: 16px;
  color: var( --text-normal-color);
}


.btn-icon {
  width: 20px; /* Ancho de la imagen */
  height: 20px; /* Alto de la imagen */
  margin-right: 5px; /* Separación entre la imagen y el texto */
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  width: 100px;
  height: 40px;
  background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
  border-radius: 30px;
  border: 1px solid #8F9092;
  transition: all 0.2s ease;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: var(--secondary-color);
  text-shadow: 0 1px #fff;
}

button:hover {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
}

button:active {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

button:focus {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}


