
<div class="container">
  <h1 class="text-center">Eligue una opción para recuperar tu contraseña</h1>
    <form>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Ingresa tu email" title="Ingrese su correo  electrónico">
        <button type="submit" class="btn"><img src="../../../assets/icon/gmail.png" alt="WhatsApp" class="btn-icon"></button>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Ingrese su número de telefono" title="Ingrese su número de telefono">
        <button type="submit" class="btn"><img src="../../../assets/icon/ring-phone.png" alt="WhatsApp" class="btn-icon"></button>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Ingrese su número de WhatsApp" title="Ingrese su número de WhatsApp">
        <button type="submit" class="btn"><img src="../../../assets/icon/whatsapp.png" alt="WhatsApp" class="btn-icon"></button>
      </div>
    </form>
  </div>
