
<footer id="footer" class="footer-1">
  <div style="background-color: #ccccccaf;" class="main-footer widgets-dark typo-light pt-3">
    <div class="container">
      <div class="row pb-0">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="widget subscribe no-box">
            <h5 class="widget-title">AloStore<span></span></h5>
            <p>Estamos a un click de distancia, somos la solución sin salir de casa</p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="widget no-box">
            <h5 class="widget-title">Politicas<span></span></h5>
            <ul class="thumbnail-widget">
              <li>
                <div class="thumb-content"><a href="#.">Terminos y condiciones</a></div>
              </li>
              <li>
                <div class="thumb-content"><a href="#.">Politicas de seguridad</a></div>
              </li>
              <li>
                <div class="thumb-content">
                  <a href="#.">Aliados Comerciales</a>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="widget no-box">
            <h5 class="widget-title">¿Aún no te registras?<span></span></h5>
            <p>¡No esperes más!</p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="widget no-box">
            <h5 class="widget-title">Contactanos<span></span></h5>

            <p>
              <a class="email" href="mailto:info@domain.com" title="glorythemes"
                >info@domain.com</a
              >
            </p>
            <ul class="social-footer2">
              <li class="social">
                <a title="Linkedin" target="_blank" href="https://bit.ly/3m9avif"
                  ><img
                    alt="youtube"
                    width="27"
                    height="28"
                    src="./assets/logos/linkedin.png"
                /></a>
              </li>
              <li class="">
                <a
                  href="https://www.facebook.com/"
                  target="_blank"
                  title="Facebook"
                  ><img
                    alt="Facebook"
                    width="27"
                    height="28"
                    src="../../../assets/logos/facebook.png"
                /></a>
              </li>
              <li class="">
                <a href="https://twitter.com" target="_blank" title="Twitter"
                  ><img
                    alt="Twitter"
                    width="24"
                    height="20"
                    src="../../../assets/logos/x.png"
                /></a>
              </li>
              <li class="">
                <a
                  title="instagram"
                  target="_blank"
                  href="https://www.instagram.com/"
                  ><img
                    alt="instagram"
                    width="27"
                    height="28"
                    src="../../../assets/logos/instagram.png"
                /></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p>Copyright Company AloStore © 2023. todos los derechos reservados.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
