<!-- <h1 class="text-center title1">Introduce el codigo enviado por el canal elegido</h1>
<div class="form-container">
    <div class="container">
      <form class="form">
        <div class="info">
          <span class="title">Autenticación</span>
          <p class="description">
            Ingrese el código de autenticación proporcionado por el sistema
          </p>
        </div>
        <div class="input-fields">
          <input maxlength="1" type="tel" placeholder="" />
          <input maxlength="1" type="tel" placeholder="" />
          <input maxlength="1" type="tel" placeholder="" />
          <input maxlength="1" type="tel" placeholder="" />
        </div>
        <div class="action-btns">
          <button class="clear">Limpiar</button>
          <button [routerLink]="['/recover-password/change-password']" class="verify">Verificar</button>
        </div>
      </form>
    </div>
  </div> -->

  <h1 class="text-center title1">Introduce el código enviado por el canal elegido</h1>
  <div class="form-container">
    <div class="container">
      <form class="form">
        <div class="info">
          <span class="title">Autenticación</span>
          <p class="description">
            Ingrese el código de autenticación proporcionado por el sistema
          </p>
          <p class="title2">Tiempo restante: <span>{{ timeLeft }}</span> segundos</p>
        </div>
        <div class="input-fields">
          <input maxlength="1" type="tel" placeholder="" />
          <input maxlength="1" type="tel" placeholder="" />
          <input maxlength="1" type="tel" placeholder="" />
          <input maxlength="1" type="tel" placeholder="" />
        </div>
        <div class="action-btns">
          <button class="clear">Limpiar</button>
          <button [routerLink]="['/recover-password/change-password']" class="verify">Verificar</button>
          <button class="restart" (click)="restartTimer()">Reiniciar</button>
        </div>
      </form>
    </div>
  </div>