<h1 class="text-center title1">Introduce el codigo enviado por el canal elegido</h1>
<div class="form-container">
    <div class="container">
      <form class="form">
        <div class="info">
          <span class="title">Two-Factor Verification</span>
          <p class="description">
            Enter the two-factor authentication code provided by the authenticator
            app
          </p>
        </div>
        <div class="input-fields">
          <input maxlength="1" type="tel" placeholder="" />
          <input maxlength="1" type="tel" placeholder="" />
          <input maxlength="1" type="tel" placeholder="" />
          <input maxlength="1" type="tel" placeholder="" />
        </div>
        <div class="action-btns">
          <button class="verify">Verify</button>
          <button class="clear">Clear</button>
        </div>
      </form>
    </div>
  </div>