
<div class="modal" [ngClass]="{'show': showModal}">
  <div class="modal-content"><br>
    <button class="close" (click)="closeModal()">&times;</button>
    <div class="container">
        <div class="offer">
          <p>AHORRA HASTA</p>
          <h1>20%</h1>
          <p>¡COMPRA AQUI!</p>
          <div class="cta">
            <button class="button2">Comprar ahora</button>
          </div>
        </div>
        <div>
          <img class="image-container" src="../../../assets/imagenes/modelo.png" alt="modelo">
        </div>
      </div>
  </div>
</div>