<div class="container pt-5">
    <div class="row">
      <div class="col-md-6">
        <div class="caja">
          <h2 class="titulo">Bienvenido</h2>
          <p class="texto">Este es un ejemplo de texto a la izquierda. Puede contener la información que desees.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="caja">
          <div class="form-container">
            <p class="title">Login</p>
            <form class="form">
              <input type="email" class="input" placeholder="Email">
              <div class="password-container">
                <input style="width: 100%;" required="" placeholder="Ingrese su contraseña" type="{{showPassword ? 'text' : 'password'}}" class="input" [(ngModel)]="password">
                <button type="button" class="password-toggle" (click)="togglePasswordVisibility()">
                </button>
              </div>
              <p class="page-link">
                <a  [routerLink]="['/recover-password']" ><span class="page-link-label">¿Olvido su contraseña?</span></a>
              </p>
              <button class="form-btn">Login</button>
            </form>
            
            <p class="sign-up-label">
                ¿No tienes una cuenta? <a href="register"><span class="sign-up-link">
                  Registrate
                </span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
