<app-menu></app-menu>
<!--FONDO ANIMADO-->
<div class="backgroundDriver">
  <div class="building"></div>
  <div class="street"></div>
 <img class="driver" src="../assets/imagenes/driver.gif" alt="">
</div>
<!--CONTENIDO DE LA VISTA-->
<div class="container pt-5">
  <div class="row">
    <div class="col-md-6">
      <div class="caja">
        <h2 class="titulo">Bienvenido</h2>
        <p class="texto">
          Nos complace que hayas decidido confiar en nosotros y en nuestro
          servicio. Aquí podrás efectuar tu registro.
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="caja">
        <div class="form-container">
          <!--FORMULARIO-->
          <form class="form" [formGroup]="forms" (ngSubmit)="salveInformation()">
            <p class="title">Registro</p>
            <p class="message">
              Regístrese ahora y obtenga acceso completo a nuestra app
            </p>
            <div class="flex">
              <label>
                <input 
                required 
                (keypress)="omitSpecialChar($event)"
                formControlName="name"
                [class.is-invalid]="nameNoValido"
                placeholder="" 
                type="text" 
                class="input" />
                <span>Nombre</span>
                <small *ngIf="nameNoValido"  class="mensajeError"
                >*Ingrese su nombre</small>
              </label>
              <label>
                <input 
                required
                formControlName="lastname"
                (keypress)="omitSpecialChar($event)"
                [class.is-invalid]="lastnameNoValido"
                placeholder="" 
                type="text" 
                class="input" />
                <span>Apellido</span>
                <small *ngIf="lastnameNoValido"  class="mensajeError"
                >*Ingrese su apellido</small>
              </label>
            </div>
            <label>
              <input 
              required
              formControlName="email"
              [class.is-invalid]="emailNoValido"
              placeholder="Ingrese su correo" 
              type="Correo" 
              class="input" />
             
              <small *ngIf="emailNoValido"  class="mensajeError">
                *Ingrese un correo valido</small
            >
            </label>
            <label>
              <div class="password-container">
                <input
                  required
                  name="password1"
                  id="password1"
                  minlength="8"
                  maxlength="10"
                  formControlName="password1"
                  [class.is-invalid]="password1NoValido"
                  type="{{ showPassword1 ? 'text' : 'password' }}"
                  class="input"
                  [(ngModel)]="password1"
                  appPasswordVisibility
                />
               
                <small *ngIf="password1NoValido"  class="mensajeError">
                  *La contraseña debe contener minimo 8 caracteres</small
              >
                <button
                  type="button"
                  class="password-toggle"
                  (click)="togglePasswordVisibility('password1')"
                >
                  <i
                    class="fa"
                    [ngClass]="showPassword1 ? 'fa-eye' : 'fa-eye-slash'"
                  ></i>
                </button>
              </div>
            </label>
            <label>
              <div class="password-container">
                <input
                  required
                  minlength="8"
                  maxlength="10"
                  formControlName="password2"
                  [class.is-invalid]="password2NoValido"
                  placeholder=""
                  type="{{ showPassword2 ? 'text' : 'password' }}"
                  class="input"
                  [(ngModel)]="password2"
                  appPasswordVisibility
                />
                <small *ngIf="password2NoValido"  class="mensajeError">
                  *Ambas contraseñas debe coincidir</small>
                <button
                  type="button"
                  class="password-toggle"
                  (click)="togglePasswordVisibility('password2')"
                >
                  <i
                    class="fa"
                    [ngClass]="showPassword2 ? 'fa-eye' : 'fa-eye-slash'"
                  ></i>
                </button>
              </div>
            </label>
            <button type="submit" class="submit">Enviar</button>
            <p class="signin">
              ¿Ya tienes una cuenta? <br />
              <a [routerLink]="['/']">Iniciar sesión</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="padding-bottom: 10%;"></div>
