<app-main-menu></app-main-menu>
<app-modal-home></app-modal-home> 


<div style="padding-top: 12%;" class="container text-center">
    <div class="row justify-content-cente">
      <div style="border: 1px solid red; margin-left: 1%; padding: 2px;" 
      class="col-sm-7 ">
        <div class="container">
            <article id="slider">
                <input checked type='radio' name='slider' id='slide1'/>
                <input type='radio' name='slider' id='slide2'/>
                <input type='radio' name='slider' id='slide3'/>
                <input type='radio' name='slider' id='slide4'/>
                <input type='radio' name='slider' id='slide5'/>
                <div id="slides">
                    <div id="container">
                        <div class="inner">
                            <article>
                            <img src="http://placehold.it/942X400"/>
                            </article>
                            <article>
                            <div class='caption'>
                              
                            </div>
                            <img src="https://0.s3.envato.com/files/84450220/img/Dummy1-942X400.jpg"/>
                            </article>
                            <article>
                            <div class='caption'>
                                <bar>A Small Elephant <a href="#">read more</a></bar>
                            </div>
                            <img src="https://0.s3.envato.com/files/84450220/img/Dummy2-942X400.jpg"/>
                            </article>
                            <article>
                            <div class='caption'>
                                <bar>A Yellow Flower <a href="#">read more</a></bar>
                            </div>
                            <img src="https://0.s3.envato.com/files/84450220/img/Dummy3-942X400.jpg"/>
                            </article>
                            <article>
                            <div class='caption'>
                                <bar>A Pink Flower</bar>
                            </div>
                            <img src="https://0.s3.envato.com/files/84450220/img/Dummy4-942X400.jpg"/>
                            </article>
                        </div>
                    </div>
                </div>
                <div id="commands">
                    <label for='slide1'></label>
                    <label for='slide2'></label>
                    <label for='slide3'></label>
                    <label for='slide4'></label>
                    <label for='slide5'></label>
                </div>
                <div id="active">
                    <label for='slide1'></label>
                    <label for='slide2'></label>
                    <label for='slide3'></label>
                    <label for='slide4'></label>
                    <label for='slide5'></label>
                </div>
                </article>
        </div>
       
      </div>
      <div style="margin-left: 3%;" class="col-sm-4">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus possimus culpa saepe obcaecati totam officiis autem tempore magni! Deleniti aut commodi blanditiis voluptate. Expedita pariatur quidem officiis velit facere similique.</p>
      </div>
    </div>
  </div>