/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://cdn.js/fontawesome.com/sass/font-awesome.css');
@import url('https://cdn.js/fontawesome.com/sass/brands.css');


//Variables de colores

:root {

  //Colores
    --primary-color: #008080; /* Color primario */
    --secondary-color: #C9C9C9; /* Color secundario */
    --success-color: #1F8D90; /* Color de éxito */
    --danger-color: #dc3545; /* Color de peligro */
    --warning-color: #ffc107; /* Color de advertencia */
    --warning-color2: #D3EE05; /* Color de advertencia */
    --info-color: #242F66; /* Color de información */

    --light-color: #f8f9fa; /* Color claro */
    --ligth-color2:#C9C9C9; /* Color claro */
    --ligth-color3: #f7f7f7;
    --dark-color: #2b2b2b; /* Color oscuro */

    //background
    --bg-color:#CACACB;
    --bg-color2: #D3EE05;
    
    //Sombras
    --Sombra:rgba(0,0,0,0.4);

    //Colores para los textos
    --text-normal-color: #4c4c4d;
    --text-muted-color: #adb5bd;
    --text-subtitulo-color: #008080;

    //Imagenes para fondos o colocar en el css
    --imagen-fondo: url('./assets/imagenes/bg.png'); /* Imagen de fondo */
    --icono-instagram:  url('./assets/logos/instagram.png'); // Logo de instagram
    --icono-x:  url('./assets/logos/x.png'); // Logo de twiter / x
    --icono-facebook:  url('./assets/logos/facebook.png'); // Logo de facebook
    --icono-linkedin:  url('./assets/logos/linkedin.png'); // Logo de Linkeding

   //ESTILO DEL FONDO ANIMADO
   //Aqui comienza el fondo animado

  //Clases de animaciones
  .backgroundDriver{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100vw;
    position: fixed;
    top: 0px;
    z-index: -1;
  }

  .backgroundDriver:before{
    content: "";
    opacity: 0;
  }

  .building{
    height: 394px;
    background-image: url(./assets/imagenes/edificios.png);
    background-size: 900px auto;
    background-position: 900px auto;
    animation: run 35s infinite linear; //Velocidad del edificio
  }

  //La calle
  .street{
    background-color: rgb(203,203,203);
    background-color: linear-gradient(0deg, rgba(203,203,203,1) 0%, rgba(156,156,156,1) 100%);
    height: 240px;
    background-image: url(./assets/imagenes/calle.png);
    background-size: 300px auto;
    background-position: 0px auto;
    animation: run2 0.7s infinite linear; //Velocidad de la calle
  }
 
  //Motorizado
  .driver{
    width: 340px;
    position: absolute;
    bottom: 13%;
    left: 16px;
    
  }


 //Da las animaciones
 @keyframes run {
  from {
  background-position: 900px 0px;
  }
  to {
  background-position: 0px 0px;
  }
}

@keyframes run2 {
  from {
  background-position: 0px 0px;
  }
  to {
  background-position: -300px 0px;
  }
}


//Querys
  @media (max-width: 1800px) {
    .fondo {
      background-size: cover;
      background-position: left bottom;
    }
  }
 
  //Animacion del motorizado
  @media (max-width: 768px) {
    .driver{
      left: 768px;
      transition-duration: 2s;
    }
  }

  //Hace que el motorizado regrese
  @media (min-width: 768px) {
    .driver{
      left: 18px;
      transition-duration: 2s;
    }
  }


  }